{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <form
    autocomplete="off"
    id="form-login"
    action="{% url 'login' %}"
    method="POST"
  >
    {% csrf_token %}
    <h2 class="heading">Login</h2>
    <div class="input_box">
      <label for="username"> {{form.username.label}}</label>
      {{form.username}}
    </div>
    <br style="clear: both" />
    <div class="input_box">
      <label for="password">{{form.password.label}}</label>
      {{form.password}}
    </div>
    <br style="clear: both" />

    {% if error%}
    <p class="error-msg">{{error}}</p>
    {%endif%}
    <div class="input_box">
      <input
        class="btn"
        style="margin-bottom: 15px"
        id="btn-login"
        type="submit"
        value="Login"
      />
    </div>
  </form>
</div>

<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script>
  $(document).ready(function () {
    is_valid = (value) => {
      if (value && value.trim().length > 0 && value != "") {
        return true;
      }
      return false;
    };

    default_state = (obj) => {
      obj.style.border = "1px solid #999";
    };

    $("#btn-login").click(function () {
      let is_uname = is_valid($("#username").val());
      let is_pswd = is_valid($("#password").val());

      if (is_uname && is_pswd) {
        $("#form-login").submit();
      } else {
        if (!is_uname) {
          $("#username").css({ border: "2px solid #f50b0b" });
        }
        if (!is_pswd) {
          $("#password").css({ border: "2px solid #f50b0b" });
        }
      }
    });
  });
</script>
{% endblock content %}
    